---
import Section from '@/components/Section.astro'
import { Icon } from 'astro-icon/components'
import { isLangSpanish } from '@/lib/utils'
import { basics } from '@cv'
import { basics as basicsES } from '@cv-es'
import { hero, heroES } from '@texts'

const { name, image, email, phone, location, profiles } = basics

const { city, country } = location

//Translations
const { url } = Astro.request
const isSpanish = isLangSpanish(url)

const { label } = isSpanish ? basicsES : basics

const { 
    emailIconA11yText, 
    phoneIconA11yText, 
    profileIconA11yText 
} = isSpanish ? heroES : hero
---

<Section>
    <div class="container">
        <div class="info">
            <div class="basic-info">
                <h1>{name}</h1>
                <h2>{label}</h2>
                <span class="location">
                    <Icon
                        name="world"
                        title="Location"
                    />
                    {city}, {country}
                </span>
            </div>
            <div class="contact-info">
                {
                    email && (
                        <a
                            href={`mailto:${email}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="social-button"
                        >
                            <Icon
                                name="email"
                                title={`${emailIconA11yText} ${name}`}
                            />
                        </a>
                    )
                }
                {
                    phone && (
                        <a
                            href={`tel:${phone}`}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="social-button"
                        >
                            <Icon
                                name="phone"
                                title={`${phoneIconA11yText} ${name}`}
                            />
                        </a>
                    )
                }
                {
                    profiles &&
                        profiles.map(({ network, url }) => (
                            <a
                                href={url}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="social-button"
                            >
                                <Icon
                                    name={network}
                                    title={`${profileIconA11yText} ${network}`}
                                />
                            </a>
                        ))
                }
            </div>
            <div class="contact-info-print">
                <p>{email} | {phone}</p>
                {profiles.map(profile => <p>{profile.url}</p>)}
            </div>
        </div>
        <figure>
            <img
                src={image}
                alt={name}
            />
        </figure>
    </div>
</Section>

<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .basic-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h1 {
        font-size: var(--text-xlarge);
    }

    h2 {
        font-weight: 500;
        font-size: var(--text-medium);
    }

    img {
        border-radius: 50%;
    }

    .location {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--small-text-color);
        font-size: var(--text-small);
    }

    .contact-info {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-top: 8px;
    }

    .social-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--button-border);
        padding: 4px;
        height: 32px;
        width: 32px;
        border-radius: 6px;
        color: var(--button-icon-color);
        transition: all 0.3s ease;
    }

    .social-button:hover {
        background-color: var(--button-hover);
    }

    @media (max-width: 500px) {
        .container {
            flex-direction: column;
        }

        .info {
            order: 2;
        }

        .basic-info {
            align-items: center;
            text-align: center;
        }

        .contact-info {
            justify-content: center;
        }

        figure {
            order: 1;
            max-width: 150px;
        }
    }

    .contact-info-print {
        margin-top: 8px;
        font-size: var(--text-normal);
    }

    @media screen {
        .contact-info-print {
            display: none;
        }
    }

    @media print {
        .contact-info {
            display: none;
        }
    }
</style>
