---
import { Icon } from 'astro-icon/components'
import { isLangSpanish } from '@/lib/utils'
import { header, headerES } from '@texts'
import { basics } from '@cv'
import { basics as basicsES } from '@cv-es'

//Translations
const { url } = Astro.request
const isSpanish = isLangSpanish(url)

const { resume } = isSpanish ? basicsES : basics

const {
    langBtnLabel,
    downloadBtnLabel,
    lightThemeA11yText,
    darkThemeA11yText,
    translateA11yText,
    downloadA11yText,
} = isSpanish ? headerES : header
---

<header>
    <button id="theme-btn">
        <Icon
            name="dark"
            title={darkThemeA11yText}
        />
        <Icon
            name="light"
            title={lightThemeA11yText}
        />
        <span>light</span>
    </button>
    <button id="lang-btn">
        <Icon
            name="world"
            title={translateA11yText}
        />
        <span>{langBtnLabel}</span>
    </button>
    <button id="download-btn">
        <Icon
            name="download"
            title={downloadA11yText}
        />
        {downloadBtnLabel}
    </button>
</header>

<style>
    header {
        display: flex;
        justify-content: center;
        gap: 8px;
        width: 100%;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
        height: 54px;
    }

    @media (min-width: 768px) {
        header {
            justify-content: flex-end;
        }
    }

    button {
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 6px;
        color: inherit;
        border: 1px solid var(--button-border);
        background: transparent;
        cursor: pointer;
        padding: 10px 12px;
    }

    button:hover {
        background-color: var(--button-hover);
    }
</style>

<script>
    //Theme feature
    const themeBtn = document.querySelector('#theme-btn')
    const themeBtnLabel = document.querySelector('#theme-btn span')
    const downloadBtn = document.querySelector('#download-btn')
    const html = document.querySelector('html')

    themeBtn?.addEventListener('click', () => {
        const currentTheme = html?.dataset.theme
        if (html && themeBtnLabel) {
            if (currentTheme === 'light') {
                html.dataset.theme = 'dark'
                themeBtnLabel.textContent = 'light'
            } else {
                html.dataset.theme = 'light'
                themeBtnLabel.textContent = 'dark'
            }
        }
    })

    //Translation feature
    const langBtn = document.querySelector('#lang-btn')

    langBtn?.addEventListener('click', () => {
        const path = window.location.pathname

        if (path.includes('/es')) {
            window.location.pathname = '/'
        } else {
            window.location.pathname = '/es'
        }
    })

    downloadBtn?.addEventListener('click', () => {
        const lang = window.location.pathname
        const resume = lang === '/es' ? '/Jus-Recondo-CV.pdf' : '/Jus-Recondo-Resume.pdf' 
        debugger
        window.open(resume, '_blank')
    })
</script>
